fastapi==0.115.0
uvicorn==0.30.6
gunicorn==23.0.0
nest_asyncio==1.6.0
chromadb==0.5.5
llama-index==0.11.14
llama-index-embeddings-huggingface==0.3.1
llama-index-llms-huggingface-api==0.2.0
python-dotenv==1.0.1
PyMuPDF==1.24.10
opencv-python==4.10.0.84
numpy==1.26.4
gTTS==2.5.3
Pillow==10.4.0
pytesseract==0.3.13
fuzzywuzzy==0.18.0
python-Levenshtein==0.25.1
pdf2image==1.17.0
pandas==2.2.2
azure-storage-blob==12.22.0